<mat-tab-group mat-align-tabs="center" headerPosition="below" (selectedTabChange)="onTabChange($event)"
    class="ng-chart">
    <mat-tab *ngFor="let item of mt">
        <ng-template mat-tab-label>
            <div class="mat-lable-custom">
                <img width="60" height="60" src={{item.icon}} alt="sun" />
                <p>{{ item.date }}</p>
                <p>{{item.day}}</p>
            </div>

        </ng-template>
        <canvas height="25px" width="50px" baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
            [type]="barChartType">
        </canvas>
    </mat-tab>
</mat-tab-group>