
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$weatherApp-primary: mat.define-palette(mat.$indigo-palette);
$weatherApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$weatherApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$weatherApp-theme: mat.define-light-theme((
  color: (
    primary: $weatherApp-primary,
    accent: $weatherApp-accent,
    warn: $weatherApp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($weatherApp-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background: #E5E5E5 }

//navbar
.navbar{height: 70px;display: flex;align-items: center;background: #564efa;color: #000;padding: 0px 20px;max-width: 1400px;margin: 0 auto}
.navbar .link{font-size: 22px;color: rgb(255, 255, 255);text-decoration: none;margin-right: 16px;}
.navbar .link:hover ,.navbar .link:focus{text-decoration: underline;}
//home-page
.container{max-width: 1400px;margin: 0 auto;padding: 20px;}
.home-page{color: #000000;}
.weather-location{
  h1{font-weight: 500;letter-spacing: 2px;margin: 0;}
}
//location-title
.location-data{display: flex;align-items: center;}
.location-data img{height: 80px;width: 80px;}


//chart
.chart-data{height: 400px;}

.weather-data li{margin: 5px 0px;}
.list-span{margin-left: 10px;}

.flex-center{display: flex;align-items: center;}

.list-item{border: 1px solid rgb(2, 2, 2);padding: 0px 10px;  border-collapse:separate;
}
.list-item:not(:last-child){border-bottom: 0;}
.weather-details{display: flex;align-items: center;justify-content: space-between}
.weather-details div{width: 20%;text-align:left;}
.condition{display: flex;align-items: center;}
.condition img{height: 50px;}
.weather-full-details{transition: all 0.5s ease;}
.material-symbols-outlined{color: rgb(84, 208, 208);margin-right: 5px;}
.max-min-temp .max{font-size: 22px;}
//data-size
.data-size{font-size: 22px;}

//weather-full-details
.weather-full-details{ display: flex;justify-content: space-between;padding: 10px 25px;}
.morning,.night { display: flex;align-items: center;gap: 10px;text-align: center;}
.morning-title,.moon-title{font-size: 18px;font-weight: 500;}
.morning-details,.moon-details{font-size: 16px;}

.searchbox{  height: 40px;
  width: 50%;
  font-size: 20px;
  padding: 10px;}



  //spinner
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #000000;
  border-color: #ff8080 transparent #494040 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.center{text-align: center;}